# .env
# **/.env
# .env.*
# !.env.example
# .venv/
# **/.venv/
# node_modules/
# **/node_modules/
# __pycache__/
# *.pyc
# dist/
# **/dist/

CHAT_BOT/.env
CHAT_BOT/__pycache__/
CHAT_BOT/rag_core/__pycache__/
